body {
    background: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
}

#task-input {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

#add-btn {
    padding: 8px;
    width: 25%;
    cursor: pointer;
    border: none;
    background: #00aaff;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.task {
    background: #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
